<div class="content-wrapper">
  <div class="container-fluid">


    <div class="panel panel-primary ">
      <div class="panel-heading" style="height: 50px;">
        <div class="col-sm-6 p-1">
          <h4>ADD TIMETABLE</h4>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-sm-12" *ngIf="!form.error && form.message != null" class="alert alert-success"> {{form.message}}</div>

      <form>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label">Course Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId" style="cursor: pointer;">
              <option *ngFor="let obj of form.preload.courseList" [value]="obj.id">{{obj.value}}</option>
            </select>
            <span class="alertRedColor"> {{form.inputerror.courseId}} </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label">Subject Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="subjectId" [(ngModel)]="form.data.subjectId" style="cursor: pointer;">
              <option *ngFor="let obj of form.preload.subjectList" [value]="obj.id">{{obj.value}}</option>
            </select>
            <span class="alertRedColor"> {{form.inputerror.subjectId}} </span>
          </div>
        </div>


        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Semester:
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="semester" [(ngModel)]="form.data.semester" id="semester" style="cursor: pointer;">
              <option [value]="">--select--</option>
              <option [value]="1">1 semester </option>
              <option [value]="2">2 semester </option>
              <option [value]="3">3 semester </option>
              <option [value]="4">4 semester </option>
              <option [value]="5">5 semester </option>
              <option [value]="6">6 semester </option>
              <option [value]="7">7 semester </option>
              <option [value]="8">8 semester </option>
              <option [value]="9">9 semester </option>
              <option [value]="10">10 semester </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Exam Date:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="date" name="examDate" [(ngModel)]="form.data.examDate" class="form-control" placeholder="Enter Date">
            <span class="alertRedColor"> {{form.inputerror.examDate}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Exam Time:
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="examTime" [(ngModel)]="form.data.examTime" id="examTime" style="cursor: pointer;">
              <option [value]="">--select--</option>
              <option [value]="1">09:00 AM to 12:00 AM </option>
              <option [value]="2">12:00 PM to 03:00 PM  </option>
              <option [value]="3">03:00 PM to 06:00 PM  </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Description:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" name="description" [(ngModel)]="form.data.description" class="form-control" placeholder="Enter Description">
            <span class="alertRedColor"> {{form.inputerror.description}} </span>
          </div>
        </div>

        
        <div class="form-group row">
          <div class="col-sm-1"></div>

          <div *ngIf="form.data.id>0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div class="col-sm-1">
                <button (click)="submit()" [disabled]="!validate()" class="btn btn-warning mr-2">
                UPDATE</button>
              </div>
              <div class="col-sm-1">
                <button (click)="forward('/timetablelist')" type="button" class="btn btn-primary mr-1">CANCEL
                </button>
              
              </div>
            </ng-template>
            <ng-template #elseBlock><div class="col-sm-1">
                <button (click)="submit()" [disabled]="!validate()" class="btn btn-success mr-2">
                Save</button>
              </div>
              <div class="col-sm-1">
                <button (click)="forward('/timetablelist')" type="button" class="btn btn-primary mr-1">List
                </button>
              </div> 
            </ng-template>
          </div>
      </form>
    </div>

  </div>
</div>
