<div style="text-emphasis-color: white;">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary"> <a
        class="navbar-brand">
            <strong>NCS Pvt Ltd</strong>
        </a>

            


    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-right">
            <a class="nav-link" href="#"> <span class="sr-only">(current)</span>
            </a>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Message
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/message"><i
                        class="fas fa-user-circle"></i>Add Message</a>
                        <a class="dropdown-item" href="/messagelist"><i
                            class="fas fa-user-circle"></i>Message List</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">User
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user"><i
                        class="fas fa-user-circle"></i>Add User</a>
                        <a class="dropdown-item" href="/userlist"><i
                            class="fas fa-user-circle"></i>User List</a>
                </div>

                
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Role
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/role"><i
                        class="fas fa-user-circle"></i>Add Role</a>
                        <a class="dropdown-item" href="/rolelist"><i
                            class="fas fa-user-circle"></i>Role List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Marksheet
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/marksheet"><i
                        class="fas fa-user-circle"></i>Add Marksheet</a>
                        <a class="dropdown-item" href="/marksheetlist"><i
                            class="fas fa-user-circle"></i>Marksheet List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">College
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/college"><i
                        class="fas fa-user-circle"></i>Add College</a>
                        <a class="dropdown-item" href="/collegelist"><i
                            class="fas fa-user-circle"></i>College List</a>
                </div>
            </li>


            

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Course
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/course"><i
                        class="fas fa-user-circle"></i>Add Course</a>
                        <a class="dropdown-item" href="/courselist"><i
                            class="fas fa-user-circle"></i>Course List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Subject
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/subject"><i
                        class="fas fa-user-circle"></i>Add Subject</a>
                        <a class="dropdown-item" href="/subjectlist"><i
                            class="fas fa-user-circle"></i>Subject List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Student
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/student"><i
                        class="fas fa-user-circle"></i>Add Student</a>
                        <a class="dropdown-item" href="/studentlist"><i
                            class="fas fa-user-circle"></i>Student List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Faculty
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/faculty"><i
                        class="fas fa-user-circle"></i>Add Faculty</a>
                        <a class="dropdown-item" href="/facultylist"><i
                            class="fas fa-user-circle"></i>Faculty List</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">TimeTable
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/timetable"><i
                        class="fas fa-user-circle"></i>Add Timetable</a>
                        <a class="dropdown-item" href="/timetablelist"><i
                            class="fas fa-user-circle"></i>Timetable List</a>
                </div>
            </li>
            

            <li class="nav-item dropdown" style="padding-left: 5px;"><a
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">HI Neer(ADMIN)
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myprofile"><i
                        class="fas fa-user-circle"></i>MyProfile</a>
                        <a class="dropdown-item" href="/changepassword"><i
                            class="fas fa-user-circle"></i>Change Password</a>
                            <a class="dropdown-item" href="/collegelist"><i
                                class="fas fa-user-circle"></i>Java Doc</a>
                                <a class="dropdown-item" href="/login"><i
                                    class="fas fa-user-circle"></i>LogOut</a>
                </div>
            </li>

        </ul>
    </div>
    </nav>
</div>